
#my-login-page{
    width: clamp(0rem, 70%, 25rem);
    aspect-ratio: calc(1/1.1);
    background: white;
    padding: 1rem 2rem;

    border-radius: 0.6rem;    

    container-type: inline-size;

    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

#my-login-page-form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#login-card-heading {
    width: 100%;
    text-align: center;
}

#login-card-heading > h2 {
    margin: 0;
    font-size: 7cqi;
}

.login-page-input-fields-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.login-page-input-fields {
    height: 10cqi;
    font-size: 4cqi;
    padding: 0 2cqi;
    background: transparent;

    outline: none;
    
    z-index: 5;
}

.login-page-input-labels {
    position: absolute;
    top: 2.2cqi;
    left: 3cqi;

    transition: 0.2s ease;

    background: white;
    padding: 0 1cqi;

    z-index: 4;
}

.login-page-input-fields:focus + .login-page-input-labels,
.login-page-input-fields:not(:placeholder-shown) + .login-page-input-labels{
    position: absolute;
    top: -2.7cqi;
    font-size: 3.5cqi;
    z-index: 6;
}

.login-page-input-fields:focus {
    border: 0.4cqi solid #fa8072;
}

.login-page-input-fields:focus ~ label{
    color: #fa8072;
    font-weight: 500;
}

#incorrect-email-warning, #invalid-password-login-page {
    color: red;
    font-size: 3cqi;
    position: absolute;

    font-weight: 500;
    top: -5cqi;
    right: 0;
}

#login-button {
    width: 100%;
    height: 10cqi;
    font-size: 5cqi;
    font-weight: 700;

    cursor: pointer;
}

#create-account-redirection-text {
    text-align: center;
}

#create-account-redirection-text {
    font-size: 4cqi;
}

#create-account-redirection-text > a {
    text-decoration: none;
    color: rgb( 10, 132, 255 );
    font-weight: 700;
}